*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: #202C36;
}
.container{
    margin: auto;
}
h1{
    font: Nunito Sans;
    font-size: 24px;
    margin-left: 50px;
    color: white;
}
header{
    background-color:  #2B3844;
    display: flex;
    justify-content: center;
}
.Dark_Mode{
    margin-left: 1200px;
    color: white;
    padding-top: 5px;
}