*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: #202C36;
}
.container{
    margin: auto;
}
h1{
    font: Nunito Sans;
    font-size: 24px;
    margin-left: 50px;
    color: white;
}
header{
    background-color:  #2B3844;
    display: flex;
    justify-content: center;
}
.Dark_Mode{
    margin-left: 1200px;
    color: white;
    padding-top: 5px;
}
.Search_input{
    width: 280px;
    height: 36px;
    margin-top: 60px;
    margin-left: 50px;
    background-color: #2B3844;
    border-radius: 3px;
    color: white;
}
.filter_button{
    width: 120px;
    height: 36px;
    margin-top: 60px;
    border-radius: 3px;
    margin-left: 1020px;
    background-color: #2B3844;
    color: white;
}
.Flag{
    width: 267px;
    height: 160px;
}
.Country_information{
    color: white;
}
.Card{
    background-color:  #2B3844;
    width: 267px;
    height: 320px;
    margin-left: 50px;
    margin-top: 30px;
}